body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

#loginBox {
  margin-top: 140px;
}

input, button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

button {
  background: #ff4d6d;
  color: white;
}

.memory-grid {
  margin-top: 40px;
}

.card {
  width: 240px;
  margin: 20px auto;
  padding: 25px;
  background: #1e1e1e;
  border-radius: 14px;
}
